body {
    /*Set background color and font*/
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace;



    /*Change heading color*/
    h1 {
        color: blue;
    }



    h2 {
        color: gold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    p {
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }









}
